/* You can add global styles to this file, and also import other style files */

.control-label ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.foot {
    text-align: center;
}
.background {
    
    background-image: url("https://cdn.pixabay.com/photo/2017/01/18/15/51/paper-1990111_960_720.jpg");
    background-Repeat:no-repeat;
    background-Attachment:fixed;
    background-position: center center;
    background-size: cover;
    background-color: #FAFAD2;
}